<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Ussd Framework Demo</display-name>
    <description>Demonstrates framework for writing USSD apps to
    integrate with SMSGH.
    </description>
    
    <listener>
        <listener-class>
            com.aaronicsubstances.smsghcomponents.ussd.demo.LogbackInitializer
        </listener-class>
    </listener>
    
    <servlet>
        <servlet-name>ussd</servlet-name>
        <servlet-class>
            com.aaronicsubstances.smsghcomponents.ussd.demo.UssdServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ussd</servlet-name>
        <url-pattern>/ussd</url-pattern>
    </servlet-mapping>
</web-app>